<div class="usersIndex">

    <h1 class="center">Users Landing page</h1>
    <div class="row">
        <div class="col-md-6">
            <div id="usersIndexMap" style="width:100%;"></div>
            <div id="distance"></div>
        </div>
        <div class="col-md-6">
            <div class="center">
                <% @challenges.each do |locations, challenges| %>
                <div class="panel panel-default">
                    <div class="panel-heading"><%= challenges.first.name %></div>
                    <div class="panel-body">
                        <% locations.each do |location| %>
                        <%= link_to challenge_path(challenges.first, location: location) do %>
                        <p><%= location.latitude %></p>
                    </div>

                </div>


                <% end %>
                <% end %>
                <% end %>
          </div>
        </div>
    </div>
</div>
