<div class="usersIndex">

  <h1 class="center">Users Landing page</h1>
  <div class="row">
    <div class="col-md-6">
      <div id="usersIndexMap" style="width:600px;height:600px;"></div>
      <div id="distance"></div>
    </div>
    <div class="col-md-6">
      <div class="center">
        <% @challenges.each do |locations, challenges| %>
        <h2><%= challenges.first.name %></h2>
          <% locations.each do |location| %>
            <%= link_to challenge_path(challenges.first, location: location) do %>
              <div class="location well">
                <p><%= location.latitude %></p>
                <p><%= location.longtitude %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
