<video playsinline autoplay muted loop poster="/assets/Shoes-Stories.jpg" id="bgvid">
  <source src="/assets/Shoes-Stories.webm" type="video/webm">
  <source src="/assets/Shoes-Stories.mp4" type="video/mp4">
</video>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "Login", user_session_path, class: 'btn btn-large' %>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-large' %>
  </div>
</div>
