<%= video_tag(['Shoes-Stories.mp4', 'Shoes-Stories.webm'], playsinline: true, autoplay: true, muted: true, loop: true, poster: 'Shoes-Stories.jpg') %>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "Login", user_session_path, class: 'btn btn-large' %>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-large' %>
  </div>
</div>
